//Html part of any page of site
doctype html
html(lang="ru")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        importJson data.json
    body(itemscope="itemscope" itemtype="http://schema.org/WebPage")
        .global-wrapper